
/* #In_home{
    max-height: 100%;
    /* border: 1px solid black; */
    
/* } */ */

#In_home h1{
    padding: 1vw 0vw 0vw 2vw;
    text-align: center;
    width: 100%;
    background-color: red
    ;
}

#In_home .In_form{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 3rem;
    /* height: fit-content; */
    /* background-color: gray; */
    /* background-color: white; */
    border-radius: 12px;
    width: 98%;
    /* box-shadow: 0 3px 4px gray;   */
}

#In_home .In_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    align-items: center ;
    gap: 1rem;
}

#In_home .In_form form input{
    padding: 1rem;
    width: 100%;
    border: none;
    /* border: 1px solid gray; */
    outline: none;
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.336);
    color: black;

}

#In_home .In_form form label{
    text-align: start;
    width: 100%;
  }

#In_home .In_form form .center{
    display: flex;
    width: 100%;
    gap: .5rem;
}

#In_home .In_form form .center select{
    background-color: white;
    padding: 1rem;
    color: black;
    border: 1px solid  gray;
    width: 100%;
    outline: none;
}

#In_home .In_form form .center2{
    display: flex;
    width: 100%;
    gap: .5rem;
}

#In_home .In_form form .center1{
    display: flex;
    width: 100%;
    /* gap: .5rem;   */
}


@media (max-width:930px) {
    #In_home .In_form{
       width: 95%;  
    }
    
    #In_home .In_form form .center{
        flex-direction: column;
    }

    #In_home .In_form form .center2{
        flex-direction: column;
    }
    
}


#In_home .In_form .order_btns button {
    width: 10vw;
    overflow: hidden;
    height: 5vh;
    /* box-shadow: 0 1px 2px gray;   */
    /* border: .1px solid gray; */
    border: none;
    background-color: white;
    color: #000;
    border-radius: 9px;
    margin: .2rem;
  }
  
  #In_home .In_form .order_btns button:hover {
    background-color: rgba(64, 64, 197, 0.137);
    cursor: pointer;
  }

/* ------------ THE CUSTOMER LIST HERE ----------------------------- */

#In_list{
    margin: 0;
    padding: 0;
    padding: 1vw 0vw 1vw 2vw;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: #F4F7FF; */
    height: 100vh;
    width: 90vw;
}

#In_list button {
    width: 10vw;
    overflow: hidden;
    height: 5vh;
    /* box-shadow: 0 1px 2px gray;   */
    border: .1px solid gray;
    /* border: none; */
    background-color: white;
    color: #000;
    border-radius: 9px;
    margin: .2rem;
  }
  
  #In_list button:hover {
    background-color: rgba(64, 64, 197, 0.137);
    cursor: pointer;
  }
  



#In_list h1{
    align-items: center;
}

#In_list .list{
    max-height: 80%;
    width: 97%;
    overflow: hidden;
    /* border: 2px solid black; */
    /* box-shadow: 0 3px 4px gray;  */
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: scroll;
    
}

#In_list .list::-webkit-scrollbar {
    width: 0.5px solid rgb(182, 158, 158); /* Width of the scrollbar */
    background: transparent;
}

#In_list .list::-webkit-scrollbar-thumb {
    background: #e2c7c7; 
    border-radius: 6px; 
}

#In_list .list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#In_list .list table{
    border: none;
    padding: 1rem;
}

#In_list .list table th{
    background-color: gainsboro;
    border: none;
}

#In_list .list table td{
    padding: 1rem;
    text-align: center;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
}

#In_list .list .section1 .actions{
    display: flex;
    gap: .6rem;
    flex-direction: row;
}