.Home_customer_table{
    /* box-shadow: 0 3px 4px gray; */
    /* width: 100vw; */
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 12px;
    /* width: 60%; */
}

#invoiceTable .headers{
    display: flex;
    justify-content: space-between;
}


.Home_customer_table th {
    background-color: #7DA0F9;
    text-align: start;
    border: none;
}

.Home_customer_table td {
    text-align: start;
    border: none;
}

.Home_customer_table tr {
    border: none;
}

.Home_customer_table .select{
    border: none;
    outline: none;
}