#p_home{
    max-height: 150%;
}

#p_home .p_form{
    margin: 1rem;
    padding: 2rem;
    /* height: fit-content; */
    /* background-color: gray; */
    border-radius: 12px;
    /* background-color: white; */
    width: 98%;
    /* box-shadow: 0 3px 4px gray;   */
}

#p_home .p_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#p_home .p_form form input{ 
    padding: 1rem;
    /* box-shadow: inset 0px 0px 0px 1px rgba(1, 1, 0, 0.2); */
    /* box-shadow: inset 1px 1px 1px 1px grey; */
    border: none;
    width: 100%;
    /* border: .1px solid gray; */
    outline: none;
    background-color: white;
    color: black;

}


#p_home .p_form form .p_center{
    display: flex;
    width: 100%;
    gap: .5rem;
}

#p_home .p_form form .p_center2{
    display: flex;
    width: 100%;
    gap: .5rem;
}


@media (max-width: 700px) {
    #p_home .p_form{
       width: 95%;  
    }
    
    #p_home .p_form form .p_center{
        flex-direction: column;
    }

    #p_home .p_form form .p_center2{
        flex-direction: column;
    }
    
}

#p_home .p_form form .product_btns button {
    width: 10vw;
    overflow: hidden;
    height: 5vh;
    /* box-shadow: 0 1px 2px gray;   */
    /* border: 1px solid gray; */
    border: none;
    background-color: white;
    color: #000;
    border-radius: 9px;
    margin: .2rem;
  }
  
  #p_home .p_form form .product_btns button:hover {
    background-color: rgba(64, 64, 197, 0.137);
    cursor: pointer;
  }


/* ------------ THE CUSTOMER LIST HERE ----------------------------- */

#p_list{
    margin: 0;
    padding: 0;
    /* padding: 1vw 0vw 1vw 2vw; */
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: #F4F7FF; */
    height: 50vw;
    width: 100%;
    
}


#p_list .list1{
    max-height: 80%;
    background-color: white;
    width: 97%;
    overflow: hidden;
    /* border: 2px solid black; */
    /* box-shadow: 0 3px 4px gray;  */
    border-radius: 12px;
    /* padding: 1rem; */
    overflow-y: scroll;
    overflow-x: scroll;
    
}

#p_list .list1::-webkit-scrollbar {
    width: 0.5px solid rgb(182, 158, 158); /* Width of the scrollbar */
    background: none;
}

#p_list .list1::-webkit-scrollbar-thumb {
    background: #e2c7c7; 
    border-radius: 6px; 
    display: none;
}

#p_list .list1::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


#p_list .list1 table{
    font-size: small;
    border: none;
    padding: 1rem;
}

#p_list .list1 table th{
    background-color: gainsboro;
    border: none;
    text-align: center;
}


#p_list .list1 table td{
    padding: 1rem;
    text-align: center;
    /* background-color: whitesmoke; */
    border: none;
    cursor: pointer;
}

#p_list .list1 .section1 .actions{
    display: flex;
    gap: .6rem;
    flex-direction: row;
}

#p_list .p_search{
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: .8rem;
    margin: .3rem .3rem;
    border-radius: 5px;
    width: 30%;
}